* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    width: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: normal;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(26, 26, 26);
    position: relative;
    background-image: url(./img/page-back.png);
}
a, p {
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 2rem;
}
ul, li, ol {
    list-style: none;
}
img {
    width: 100%;
}

/* 大枠・共通 */
.main {
    padding: 1rem 1rem 3rem;
    margin: 1rem 0.5rem;
    background-color: #000;
    border: 1px solid rgb(224, 224, 224);
    max-width: 750px;
}
.rink-neomoba {
    font-weight: bold;
    color: rgb(0, 14, 103);
}
.comment {
    font-size: 0.7rem;
    color: rgb(110, 110, 110);
}
.title .comment {
    color: white;
    line-height: 18px;
    display: block;
}
.yellow-marker {
    background-color: yellow;
}
.bold {
    font-weight: bold;
    font-size: 1.05rem;
}
.normal {
    font-weight: normal;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.yellow {
    color: yellow;
}
.sky-blue {
    color: rgb(219, 239, 255);
}
.blueline {
    background: linear-gradient(transparent 70%, rgb(219, 239, 255) 60%);
}
.yellowline {
    background: linear-gradient(transparent 50%, rgb(245, 245, 59) 50%);
}

/* タイトル */
.title {
    margin: 1rem auto;
    background-color: #0034dd;
    color: white;
    position: relative;
}
.title h1 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.8rem;
    padding: 0.5rem;
}
.title img {
    position: absolute;
    display: inline-block;
    height: 1.7rem;
    width: auto;
    right: 0;
    top: -1.2rem;
    transform: rotate(17deg);
    -moz-transform: rotate(17deg);
    -webkit-transform: rotate(17deg);
}

/* 漫画 */
.comic {
    margin: 0 auto 1rem;
}

/* ネオモバについて */
.about-neomoba {
    margin: 2rem 0 4rem;
}
.about-neomoba img {
    margin-bottom: 1rem;
}
.about-neomoba p:first-child {
    margin-bottom: 0;
}
.price p:first-of-type {
    text-align: center;
    font-weight: bold;
    font-size: 1.15rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.price p:first-of-type i {
    color: rgb(62, 170, 0);
    padding-right: 0.5rem;
}
.price i {
    color: rgb(255, 132, 194);
}

/* 口コミ */
.reviews_cont {
    margin-bottom: 4rem;
}
.reviews_title {
    margin-bottom: 2rem;
}
.reviews_title i {
    color: yellow;
    vertical-align: text-bottom;
    padding-left: 0.5rem;
}
.reviews_cont h2 {
    font-size: 1.15rem;
    padding: 0.4rem 0;
    color: white;
    display: block;
    text-align: center;
    background-color: rgb(255, 123, 0);
    line-height: 1.55rem;
}
.reviews_cont img.review {
    display: block;
    margin-bottom: 2rem;
}

/* 利用開始手順 */
.step_title {
    position: relative;
    margin-bottom: 2rem;
}
.step_cont h2 {
    font-size: 1.2rem;
    padding: 0.3rem 0;
    color: white;
    display: block;
    text-align: center;
    background-color: rgb(255, 123, 0);
}
.step_cont .float1 {
    position: absolute;
    display: block;
    width: 1.4rem;
    top: -0.5rem;
    left: 0.2rem;
}
.step_cont .float2 {
    position: absolute;
    display: block;
    width: 1.6rem;
    right: 0.1rem;
    bottom: -0.5rem;
}
.step_item {
    margin-bottom: 2.5rem;
}
.step_item img {
    margin-bottom: 1rem;
    display: block;
}
.step_text p {
    margin-bottom: 1rem;
}
.step_text .important {
    font-size: 0.95rem;
    display: block;
    font-weight: bold;
    border: 2px solid rgb(255, 123, 0);
    padding: 0.5rem;
    border-radius: 0.2rem;
}

/* ページ下部 */
.insert-img {
    display: block;
    margin-bottom: 2rem;
}
.bottom_wrap {
    margin-bottom: 1.5rem;
}
.bottom_wrap p {
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 14, 103);
    margin-bottom: 0;
}
.bottom_wrap p a {
    color: rgb(221, 74, 48);
}
.bottom_wrap i {
    display: block;
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 123, 0);
    line-height: 2rem;
}
.official p {
    font-size: 0.9rem;
}

/* ボタン */
.fixed {
    position: fixed;
    bottom: 0;
    z-index: 10;
    margin-right: 1rem;
    margin-left: -0.5rem;
    background-color: rgba(255, 255, 255, 0.836);
    padding: 0.5rem 0;
}
.fixed .btn {
    width: 90%;
}
.btn_area {
    position: relative;
    overflow: hidden;
}
.btn {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.reflection {
    height      :100%;
    width       : 0.7rem;
    position    :absolute;
    top         :-4rem;
    left        :0;
    background-color: #fff;
    opacity     :0;
    transform: rotate(45deg);
    animation: reflection 3s ease-in-out infinite;
    -webkit-transform: rotate(45deg);
    -webkit-animation: reflection 3s ease-in-out infinite;
    -moz-transform: rotate(45deg);
    -moz-animation: reflection 3s ease-in-out infinite;
    -ms-transform: rotate(45deg);
    -ms-animation: reflection 3s ease-in-out infinite;
    -o-transform: rotate(45deg);
    -o-animation: reflection 3s ease-in-out infinite;
}

@keyframes reflection {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(50) rotate(45deg); opacity: 0; }
}
@-webkit-keyframes reflection {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-moz-keyframes reflection {
    0% { -moz-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -moz-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -moz-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -moz-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-ms-keyframes reflection {
    0% { -ms-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -ms-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -ms-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -ms-transform: scale(50) rotate(45deg); opacity: 0; }
}
@-o-keyframes reflection {
    0% { -o-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -o-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -o-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -o-transform: scale(50) rotate(45deg); opacity: 0; }
}

/* フッター */
footer {
    padding: 2rem 0;
    color: white;
    background-color: rgb(255, 123, 0);
    text-align: center;
}

/* PC */


@media(min-width: 800px) {
    html {
        font-size: 19px;
    }
    .main {
        margin: 16px auto;
    }
    img {
        width: 80%;
        display: block;
        margin: auto;
    }
    .fixed {
        max-width: 730px;
    }
}
