@charset "UTF-8";
/* CSS Document */
/*----reset----*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/*----basic----*/
* {
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    color: #;
    font-size: px;
    font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック","MS PGothic", sans-serif;
    background:#ddf2ea;
}
/*wrapper*/
#wrapper {
	overflow:hidden;
    background: #fff;
    width: 100%;
    max-width: 640px;
    margin: auto;
    padding: 0;
/*    border: 2px #B79555 solid;*/
}
img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    vertical-align: bottom;
}
.regfield {
/*    background: #ffefd7;*/
/*    padding: 24px 0;*/
/*    margin: 24px 0;*/
    
}
.bordertop {
    border-top: 3px #FFF solid;
    padding-top: 12px;
    margin: 0 6px;
}
.center {
    text-align: center;
    border: 
}
.footer {
/*    margin: 24px 0 0 0 ;*/
    text-align: center;
    padding:6px 0 ;
    background: #B79555;
    color: #fff;
}